.nav-links {
    padding: 13px 16px;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}


.nav-links:focus {
    border-radius: 30px;
    background: rgba(67, 97, 238, 0.30);
    transition: 1s;
    padding: 13px 16px;
}

.nav-links:hover {
    border-radius: 30px;
    background: rgba(67, 97, 238, 0.30);
    transition: 1s;
    padding: 13px 16px;
}

@media only screen and (max-width: 700px) {
    .header {
        display: none;
    }
}

.main {
    height: 802px;
    width: 100%;
    border-radius: 0px 0px 800px 800px;
    background: linear-gradient(180deg, rgba(76, 201, 240, 0.00) 0%, rgba(67, 97, 238, 0.30) 100%);
}

@media only screen and (max-width: 1025px) {
    .main {
        height: 0px;
        height: 100%;
    }

    .title {
        font-size: 16.4px;
    }
    
    .heading {
        font-size: 40px;
        /* 113.438% */
    }
    
    .para {
        font-size: 13.3px;
    }
}

.title {
    color: var(--Colour-1, #4361EE);
    leading-trim: both;
    text-edge: cap;
    font-size: 19.4px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 2.91px;
}

.heading {
    color: var(--Text-Colour-1, #0B090A);
    leading-trim: both;
    text-edge: cap;
    font-size: 57.3px;
    font-style: normal;
    font-weight: 600;
    line-height: 65px;
    /* 113.438% */
}

.para {
    color: var(--Text-Colour-3, #808080);
    leading-trim: both;
    text-edge: cap;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    /* 162.5% */
}

.contactus {
    width: 420px;
    height: 582px;
    border-radius: 30px;
    background: #FFF;
    box-shadow: 10px 30px 50px 0px rgba(0, 0, 0, 0.05);
}

.hr {
    border-bottom: 1px solid var(--Text-Colour-4, #AAA);
}

.in-field {
    width: 100%;
    height: 59px;
    flex-shrink: 0;
    border-radius: 20px;
    border: 0px solid var(--Text-Colour-5, #D4D4D4);
    background: rgba(212, 212, 212, 0.20);
    outline: 0px;
}

.text-field {
    width: 100%;
    flex-shrink: 0;
    border-radius: 20px;
    border: 0px solid var(--Text-Colour-5, #D4D4D4);
    background: rgba(212, 212, 212, 0.20);
    outline: 0px;
}

.Submit-btn {
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    width: 100%;
    height: 60px;
    border-radius: 50px;
    border: 1px solid #BFBDC1;
    background: var(--Primary-Colour, #3A0CA3);
}

.Submit-btn:hover {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: 0.5s;
}

/* Apply styles to the Swiper container */
.swiper-container {
    width: 100%;
    height: auto;
    /* Adjust the height as needed */
}

/* Center slide content vertically and horizontally */
.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 540px;
    height: 340px;
    flex-shrink: 0;
    padding: 10px 10px;
}

/* Make the image take full width */
.swiper-slide img {
    
    height: auto;
    margin-left: 1%;
    width: 100%;

}

.swiper-pagination {
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-pagination-bullet {
    width: 20px;
    /* Adjust the width of the lines */
    height: 2px;
    /* Adjust the height of the lines */
    background-color: #333;
    /* Customize the line color as needed */
    margin: 5px;
    /* Adjust the margin between the lines */
}

/* Style for the active pagination bullet */
.swiper-pagination-bullet-active {
    background-color: #f00;
    /* Customize the active bullet style as needed */
}

.swiper-button-next {
    width: 40px;
    height: 40px;
    flex-shrink: 0;
}

.slide-circle {
    position: absolute;
    right: 3%;
    top: 0%;
}

/* card */
.card {

    height: 100px;
    flex-shrink: 0;
    border-radius: 50px;
    background: var(--White, #FFF);
    box-shadow: 10px 30px 50px 0px rgba(0, 0, 0, 0.05);
}

.cardp {
    margin-top: -60px;
}

@media only screen and (max-width: 1025px) {
    .cardp {
        margin-top: 0px;
        margin-top: 20px;
    }
}

/* marquee */
.marq-circle {
    position: absolute;
    left: 10%;
}

@media only screen and (max-width: 805px) {
    .marq-circle {
        display: none;
    }
}

/* aboutus */
.heading-about {
    color: var(--Text-Colour-2, #2B2B2B);
    font-size: 39.8px;
    font-style: normal;
    font-weight: 600;
    line-height: 47px;
    /* 118.09% */
}

.aboutcard {
    border-radius: 30px;
    background: #FFF;
    box-shadow: 4px 10px 30px 0px rgba(17, 17, 17, 0.06);
}

.aboutcard:hover {
    transition: 0.5s;
    box-shadow: 16px 18px 45px 8px rgba(0, 0, 0, 0.06);
}

.ac-head {
    color: var(--Colour-1, #4361EE);
    font-size: 19.4px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.ac-para {
    color: var(--Text-Colour-3, #808080);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    /* 162.5% */
}

.roundimg {
    position: absolute;

}

.first {
    display: none;
}


@media only screen and (max-width: 805px) {
    .first {
        display: block;
    }

    .second {
        display: none;
    }

    .roundimg {
        width: 40%;
    }
}

@keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  .rotate {
    animation: rotate 20s linear infinite;
  }
  

  /* .swiper-button-next:after, .swiper-rtl .swiper-button-prev:after{
   background-color:white;
   padding:20px;
   border-radius:50px;
   margin-left: -40px;
   
  }
  .swiper-button-prev:after, .swiper-button-next:after{
    font-size: 10px;
    height: 10px;
    width: 10px;
  } */
  /* .swiper-button-next,
  .swiper-button-prev {
    background-color: white;
    padding: 8px 16px;
    border-radius: 100%;
    border: 2px solid black;
    color: red;
    font-size: 10px;
  } */
  /* .swiper-pagination-bullet{
    width: 40px;
    height: 40px;
    background-color: red;
    font-size: 10px;
  } */

  .swiper-button-next {
    background-image: url(../public/next.png);
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center;
    height: 40px;
    width: 40px;
  }
  
  .swiper-button-next::after {
    display: none;
  }
  .swiper-button-prev {
    background-image: url(../public/prev.png);
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center;
    height: 40px;
    width: 40px;
  }
  
  .swiper-button-prev::after {
    display: none;
  }

  .swiper-pagination-bullet{
    height:2px;
    width:40px;
  }